@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

body {
  font-family: "Inter", sans-serif;
}

tbody::-webkit-scrollbar {
  width: 10px;
}

tbody::-webkit-scrollbar-track {
  background-color: #ececec;
  border-radius: 100px;
}

tbody::-webkit-scrollbar-thumb {
  background-color: #d3d3d3;
  border-radius: 100px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
